<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="identifier"></div>
    <input type="text" class="message-input" id="message-input-1" maxlength="16" placeholder="Enter line 1...">
    <input type="text" class="message-input" id="message-input-2" maxlength="16" placeholder="Enter line 2...">
    <script src="/static/script.js"></script>
</body>
</html>

